/* * {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
} */

body {
  margin-top: 1.5rem;;
  background-color: rgb(225, 237, 238);
}

/* index.js */
.container {
  padding: 1rem;
  border: 5px solid rgba(0, 0, 0, 0.623);
  border-radius: 15px;
  max-width: 980px;
  max-height: 838px;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 5fr;
}

/* TaskContainer.jsx */

.TaskContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  border: solid rgba(0, 0, 0, 0.078) 3px;
  background: rgb(222, 218, 222);
  border-radius: 15px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3rem;
  width: 30rem;
  color: rgba(114, 114, 114, 0.965);
  border-radius: 12px;
  padding: 0.6rem 4.7rem 0.6rem 4.7rem;
  justify-content: center;
  text-align: center;
} 

.taskColumns-container {
  display: grid;
  grid-template-rows: 100px 100px 1fr;
}

.colunmNamesRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  font-size: 2rem;
  padding-block: 1rem;
}

.columns-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.buttonRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.newTaskButton {
  width: 100px;
  height: 50px; 
  margin-top: 2rem;
}

/* TaskColumn.jsx */

.columnStatus {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.3rem;
  /* color: rgba(91, 91, 91, 0.965); */
  color: #577f8df6;
  border-bottom: 2px solid rgb(164, 164, 164);
}



.tasksBox {
  max-height: 400; 
  overflow-y: auto;
}

.button {
  align-items: center;
}

.column {
  max-height: 47rem;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Tasks.jsx */
.taskBox {
  /* border: 1px solid black; */
  border: 3px solid rgba(0, 0, 0, 0.144);
  border-radius: 12px;
  height: 95px;
  width: 180px;
  color: black;
  background: #fff7fb;
  padding: 0.5rem;
  margin-top: 0.3rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  display: flex;
  flex-direction: column;
}

#taskStatus1 {
  background-color: rgb(255, 239, 239);
}

#taskStatus2 {
  background-color: rgb(255, 254, 239);
}

#taskStatus3 {
  background-color: rgb(244, 255, 240);
}

.content {
  /* overflow-wrap: break-word; */
  color: rgba(0, 0, 0, 0.856);
  word-break: break-word;
  inline-size: 150px;
  max-height:100px;
  height: 100px;
  margin-top: 5px;
  margin-left: 5px;
}

.btn-container {
  display: flex;
  align-items: end;
}
/* ProjectContainer.jsx */ 

.ProjectContainer {
  border: solid rgba(0, 0, 0, 0.078) 3px;
  background: rgb(222, 218, 222);
  border-radius: 15px;
  height: 52rem; 
  margin: 0 0.1rem 0 0.2rem;
}

.outer {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topBarContainer {
    display: flex;
    width: 300px;
}

.topLeftContainer {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding-block: 1.4rem;
}

.image-container {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background: whitesmoke;
    border: 3px solid rgba(0, 0, 0, 0.317);
    margin-bottom: 0.5rem;
}

.Username {
  font-size: 1.3rem;
}

.form {
  text-align: center 
}

.image-input {
    align-content: center;
    justify-content: center;
    margin-inline: 20%;
}

.project_Container {
    overflow-y: auto;
    max-height: 475px;
    width: 300px;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.newProjectBtn {
  width: 200px;
  height: 50px; 
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Project.jsx */
.projectContainer {
  /* margin: 0.5rem; */
  /* padding: 0.5rem; */
  display: flex;
  flex-direction: row;
  align-items: center;
}


.projectName {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  /* margin: 0.5rem; */
  /* padding: 0.5rem; */
  padding-left: 0.7rem;
  width: 220px;
}

/* Global */
.deleteButtonP {
  position: relative;
  right: 15px;
  cursor: pointer;
  border: 0px;
  color: rgba(0, 0, 0, 0.488);
  background-color: rgba(255, 0, 0, 0.0);
}

/* change color on mouse-over */
.deleteButtonP:hover {
  color: rgb(0, 0, 0);
}

.deleteButtonT {
  position: relative;
  left: 156px;
  cursor: pointer;
  border: 0px;
  color: rgba(0, 0, 0, 0.488);
  background-color: rgba(255, 0, 0, 0.0);
}

/* change color on mouse-over */
.deleteButtonT:hover {
  color: rgb(0, 0, 0);
}

